body::-webkit-scrollbar {
	width: 4ru;
}
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 4ru rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--color-dark-70);
}

.content .link {
	color: inherit;
	background-image: linear-gradient(120deg, #fc0 0%, #fc0 100%);
	background-repeat: no-repeat;
	background-size: 100% 2ru;
	background-position: 0 100%;
	transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: background, color;
}
.content .link:hover {
	color: black;
	background-size: 100% 100%;
}

/*.content .link::before {
	content: "";
	position: absolute;
	height: 2px;
	left: 0;
	right: 0;
	bottom: calc(50% - 0.5em - 1px);
	background-color: #1e88e5;
	transition: background 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-property: height, color;
	z-index: -1;
}
.content .link:hover::before {
	height: calc(1em + 2px);
}
*/

.content .cta {
	display: inline-block;
	margin-top: 28ru;
	padding: 4ru 20ru;
	font-size: 14ru;
	font-weight: 400;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--color-light-10);
	background-color: var(--color-dark-30);
	border-radius: 2ru;
	box-shadow: 0 3px 1px -2px #b0b0b0, 0 2px 2px 0 #d0d0d0, 0 1px 5px 0 #c1c1c1;
	transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.content .cta:hover {
	color: var(--color-dark-30);
	background-color: transparent;
}
